@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f8f3;
  --foreground: #080e06;

  --theme-100: #f1f8f3;
  --theme-200: #e4f1e8;
  --theme-300: #d6eadc;
  --theme-400: #cae3d1;

  --brand-100: #84c87f;
  --brand-200: #019153;
  --brand-300: #006138;
  --brand-400: #0f1e24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #070f11;
    --foreground: #f1f8f3;

    --theme-100: #080e06;
    --theme-200: #061c11;
    --theme-300: #072617;
    --theme-400: #082f1d;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
